:root {
  --header-bg-color: #005;
}

.tz_multiple_items > span {
  margin-right: 10px;
  background-color: #ccc;
}

.decalaration, .parameters, .returns, .typeParameters, .fieldValue, .propertyValue, .eventType, .overrides, .exceptions {
  color: #777;
}

.container {
  width: calc(100% - 10vw);
}

.sidetoc {
  top: 280px;
}

.article.grid-right {
  margin-left: 360px;
}

@media only screen and (max-width: 768px) {
  .article.grid-right {
    margin-left: 0;
  }
}

.toc-filter {
  margin: 0;
  border: 0;
  padding: 0;
}

.toc-filter > .filter-icon {
  display: block;
  top: 7px;
}

.toc-filter > .clear-icon {
  top: 7px;
}

.hidden-anchor {
  height: 1px;
  overflow: hidden;
}

.attribute-list {
  display: flex;
  margin: 0;
  font-size: 14px;
  color: #5e5e5e;
}

dl.attribute-list dd {
  margin-left: 8px;
}

.pdl-holder  {
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
}

.pdl-holder .pdl:after {
  color: #5e5e5e;
  content: ">";
  font-size: 14px;
  padding-left: 6px;
  padding-right: 6px;
  vertical-align: bottom;
}

.stack {
  margin-top: 20px;
}

.affix {
  height: auto;
}

.sideaffix {
  width: 250px;
  overflow-x: hidden;
  overflow-y: auto;
}

.affix > ul.level1 {
  overflow: inherit;
}

.obsolete {
  background-color: palevioletred;
  font-size: 12px;
  font-weight: bold;
  color: white;
}

.obsolete-affix {
    text-decoration: line-through;
}
